@import "tailwindcss";
@import "tw-animate-css";

body {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
    margin: 0 auto;
  }
}
.slick-slide {
  height: 90vh !important;
  width: 100% !important; /* ensure full width */
  position: relative;
}

.slick-slide > div {
  height: 100% !important;
  width: 100% !important; /* fix shrinking on tablets */
}
.slick-list,
.slick-track {
  width: 100% !important; /* prevent slick from shrinking track */
}
