@import "tailwindcss";
@import "tw-animate-css";


body {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
    margin: 0 auto;
  }
}
.slick-slide {
  height: 90vh !important;
  position: relative;
}

.slick-slide > div {
  height: 100%;
}
